.header
  = link_to "Share-Calendar", root_path, class: "header--title"

.tweet_main-box
  .new-tweet-title
    投稿内容を入力
  = form_with model:@tweet do |f|
    - if @tweet.errors.any?
      #error_explanation
        %h2= "#{pluralize(@tweet.errors.count, "error")} prohibited this tweet from being saved:"
        %ul
          - @tweet.errors.full_messages.each do |message|
            %li= message
    .tweet_box
      = f.text_area :text ,class: "tweet_field"
      - if @user.image.present?
        = image_tag "#{@user.image}", size: '40x40', class: 'tweet_my-icon'
      -else
        = image_tag 'profile.webp', size: '40x40', class: 'tweet_my-icon'
      = f.label :image, class: "tweet_image-btn" do
        = fa_icon 'picture-o', class: 'tweet_image-icon'
        画像を選択
        = f.file_field :image, class: 'tweet_image-hidden'
      .tweet_submit
        = f.submit '投稿する', class: "tweet_submit--btn"