.wrapper
  = render "layouts/side-bar"
  .center-box
    .head-content
      .my-header
      .my-header__details
        - if @user.image.present?
          = image_tag "#{@user.image}", size: '50x50', class: 'my-icon'
        -else
          = image_tag 'profile.webp', size: '50x50', class: 'my-icon'
        .my-name
          = @user.name
        .my-right-btn
          - if @user == current_user
            = link_to "編集", edit_user_registration_path, class:"my-right-btn__edit"
          - else
            - if current_user.following?(@user)
              = form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f|
                = f.hidden_field :follow_id, value: @user.id
                = f.submit 'フォロー中', class: 'my-right-btn__follow-now'
            - else
              = form_for(current_user.relationships.build) do |f|
                = f.hidden_field :follow_id, value: @user.id
                = f.submit 'フォロー', class: 'my-right-btn__follow'
        .my-introduction
          = @user.introduce
        .user-relationship
          .following
            .following__num
              = @user.followings.length
            .following__cr
              フォロー中
          .followed
            .followed__num
              = @user.followers.length
            .followed__cr
              フォロワー
    .my-main-content
      .select-tabs
        = link_to "ツイート", "", class: "tweet-tab active-tab"
        = link_to "イベント", "", class: "event-tab"
      .my-main-content-box
        = render 'tweets/tweet'
      


  .right-box
    #calendar