= form_with model:@event,multipart: true do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .new-event
    = f.label :"タイトル"
    .new-event__field
      = f.text_field :title, class: "event-form title-form"
  .new-event
    = f.label :"詳細"
    .new-event__field
      = f.text_area :description, class: "event-form des-form"
  = f.fields_for :event_images do |i|
    .new-event
      = i.label :画像
      = render 'event_image_fields', f: i
    .add-links
      .add-img-btn
        = fa_icon 'plus-circle', class: 'add-btn--icon'
        追加
  .new-event
    = f.label :イベント期間
    .new-event__field
      = f.date_field :start_date, class: 'event-form st-date-form'
      〜
      = f.date_field :end_date, class: 'event-form en-date-form'
  = f.fields_for :schedules do |s|
    .new-event
      = s.label :開催日時
      = render 'schedule_fields', f: s
    .add-links
      = link_to_add_association f, :schedules, class: 'add-btn' do
        = fa_icon 'plus-circle', class: 'add-btn--icon'
        追加
  = f.fields_for :casts do |c|
    .new-event
      = c.label :出演者
      = render 'cast_fields', f: c
    .add-links
      .add-cast-btn
        = fa_icon 'plus-circle', class: 'add-btn--icon'
        追加
  .new-event
    = f.label :会場
    .new-event__field
      = f.text_field :place, class: 'event-form input-form'
  .new-event
    = f.label :会場住所
    .new-event__field
      = f.text_field :address, class: 'event-form input-form'
  .new-event
    = f.label :販売価格
    .new-event__field
      = f.number_field :price, class: 'event-form input-form'
  .new-event
    = f.label :予約url
    .new-event__field
      = f.url_field :site_url, class: 'event-form input-form'
  .new-event
    = f.label :備考
    .new-event__field
      = f.text_area :remarks, class: 'event-form remarks-form'
  .event-submit
    = f.submit '登録する', class: 'event-submit__btn'
  .event-return
    = link_to 'もどる', root_path, class: 'event-return__btn'

